<turbo-stream action="replace" target="cart-container">
  <template>
    <%= render 'shared/cart' %>
  </template>
</turbo-stream>

<turbo-stream action="update" target="notice">
  <template>
    <div class="alert alert-success" role="alert">Item adicionado ao carrinho.</div>
  </template>
</turbo-stream>

<turbo-stream action="append" target="body">
  <template>
    <script>
      (function(){
        var el = document.getElementById('cartOffcanvas');
        if (el) {
          var bs = new bootstrap.Offcanvas(el);
          bs.show();
        }
      })();
    </script>
  </template>
</turbo-stream>